<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="col-3 side text-center">
  <div class="col image" id="profile_img">
    <!--등록된 이미지 있을시-->
    <div th:if="${profile_img}" class="image">
      <img th:src="@{'/upload/' + ${profile_img}}">
    </div>
    <!--등록된 이미지 없을시-->
    <div th:unless="${profile_img}" class="image">
      <img th:src="@{/image/default.jpg}">
    </div>
  </div>
  <div class="info text-center">
    <span sec:authorize="isAnonymous()">
        <a class="userinfo" th:href="@{/user/register}">회원가입</a>/
        <a class="userinfo" th:href="@{/user/login}">로그인</a>
    </span>
    <form sec:authorize="isAuthenticated()" th:action="@{/user/logout}" method="POST">
        <span>
            <a class="userinfo" th:href="@{/user/myPage}">마이페이지</a>/
            <a class="userinfo" th:href="@{/user/logout}" onclick="return confirmLogout();">로그아웃</a>
        </span>
    </form>
    <br>
    <span id="admin" sec:authorize="hasRole('ADMIN')">
      <a class="userinfo mt-3" th:href="@{/}">LIA 메인 페이지</a>
    </span>
  </div>
  <br>
  <br>
  <div class="text-center">
    <ul class="menu">
      <li class="mt-3">
        <a th:href="@{/admin/userList}">회원 리스트</a>
      </li>
      <li class="mt-3">
        <a href="#">대여글 리스트</a>
      </li>
      <li class="mt-3">
        <a th:href="@{/admin/declarationList}">신고 리스트</a>
      </li>
      <li class="mt-3">
        <a href="qna/list">Q&A</a>
      </li>
    </ul>
  </div>

</div>