<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="col-3 side text-center">
  <div class="image">
    <img th:src="@{/image/default.jpg}">
  </div>
  <div class="info text-center">
                <span>
                    <a class="userinfo" th:href="@{/user/register}">회원가입</a>/
                    <a class="userinfo" th:href="@{/user/login}">로그인</a>
                </span>
  </div>
  <br>
  <br>
  <div class="text-center">
    <ul class="menu">
      <li>
        <a href="/note/list">쪽지함</a>
      </li>
      <li>
        <a href="#">내 글 보기</a>
      </li>
      <li>
        <a href="/declaration/list">신고 현황</a>
      </li>
      <li>
        <a th:href="@{/book/write}">대여글 등록</a>
      </li>
      <li>
        <a href="#">Q&A</a>
      </li>
    </ul>
  </div>

</div>