<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org/extras/spring-security" >
<th:block th:fragment="header">
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/51772bd9bd.js"></script>

<head>
    <title>Leave a Comment</title>
</head>
  <script crossorigin="" src=""></script>

<div class="side">
  <div class="image">
    <img src="" alt="LIA Image">

  </div>
  <ul class="menu">
    <li><a href="/qna/list" th:class="${title == 'List' ? 'active' : ''}">QnA목록</a></li>
    <li><a href="/qna/update" th:class="${title == 'Update' ? 'active' : ''}">QnA건의</a></li>
    <li><a href="/qna/delete" th:class="${title == 'Delete' ? 'active' : ''}">QnA삭제</a></li>
  </ul>
</div>

<div class="c">

</div>

</th:block>

</html>
