<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<script th:unless="${qna}">
  alert("해당 정보가 삭제되거나 없습니다");
  history.back();
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/qna/detail.css}">
    <script th:src="@{/js/qna/delete.js}"></script>
    <title>LIA</title>
</head>

<body>

<div th:replace="~{fragment/header}"></div>

<div class="row">
    <div th:replace="~{fragment/sidebar}"></div>

    <div class="col-9 c">
        <th:block th:if="${qna}">

            <div>
                <div class="text-center">
                    <h1>[[${qna.user.username}]]님의 질문글</h1>
                </div>
            </div>
            <hr>

            <div class="form-box">

                <div class="form-group mt-3 ms-5">
                    <label >작성자</label>
                    <div>[[${qna.user.username}]]([[${qna.user.nickname}]])</div>
                </div>

                <div class="form-group mt-3 ms-5">
                    <label>제목</label>
                    <div th:text="${qna.title}"></div>
                </div>

                <div class="form-group mt-3 ms-5">
                    <label>내용</label>
                    <div th:text="${qna.question}"></div>
                </div>

                <a th:href="@{/qna/list}" class="mt-3 ms-5 btn btn-warning">목록</a>
                <th:block sec:authorize="isAuthenticated()"  th:with="logged_user=${#authentication.principal.user}">
                    <a th:href="@{'/qna/update/' + ${qna.id}}" class="mt-3 btn btn-primary" th:if="${logged_user.id == qna.user.id}">수정하기</a>
                    <button id="delBtn" type="button" class="mt-3 btn btn-danger" th:if="${logged_user.id == qna.user.id}">삭제하기</button>
                    <form id="delForm" method="POST" th:action="@{/qna/delete}">
                        <input type="hidden" name="id" th:value="${qna.id}">
                    </form>
                </th:block>
            </div>
        </th:block>
        <hr>
        <div class="row">
            <div class="col mt-5" sec:authorize="hasRole('ADMIN')" th:unless="${qna.answer}">
                <form method="POST" th:action="@{/qna/answer}">
                    <label class="mt-3 ms-5">답변</label>
                    <textarea class="form-control ms-5" name="answer" id="answer" rows="5" required></textarea>
                    <button type="submit" class="btn btn-dark ms-5">답변등록</button>
                    <input type="hidden" name="id" th:value="${qna.id}">
                </form>
            </div>
            <div class="col" th:if="${qna.answer}">
                <label class="ms-5 mt-3">관리자 답변</label>
                <div class="ms-5 mt-3" id="answerDiv">
                    <div th:text="${qna.answer}" class="ps-3 pe-3 ms-5 mt-3"></div>
                    <p class="ms-5 mt-3 ps-3 pe-3" th:text="${#temporals.format(qna.answerDate,'yyyy-MM-dd HH:mm:ss')}"></p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>