#imgbox img{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius: 50%;
    border: 1px solid black;
}

#preview-img{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius: 50%;
    border: 1px solid black;
}

#myForm {
    width: 50%;
    display: block;
    margin-left: 25%;
    padding-left: 10%;
}

.lowb {
    display: inline;
}

b {
    font-weight: 550;
    font-size: 40px;
}

.r{
    border: 1px solid black;
    width:400px;
    font-size:30px;
    font-weight:500px;
    padding-left:10px;
    padding-right:3px;
}

.btn-dark{
    width:150px;
    height: auto;
}